*{
    margin: 0;
}

body{
    font-family: "Lucida Console", "Courier New", monospace;
}


nav{
    top: 0px;
    position: sticky;
    display: flex;
    justify-content: space-between;   
    background-color: #EE693F;
    border-radius: 0px 0px 20px 20px;
    z-index: 999;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: large;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding-right: 40px;
    padding-top: 25px;
}

.judul{
    padding: 20px;
    padding-left: 40px;
}

.container{
    position: relative;
}

#pengguna{
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.title{
    margin: 40px;
    font-size: 25px;
}

.pesanan{
    display: flex;
    justify-content: space-between;
    margin: 30px 40px 10px 40px;
}

.kalender{
    box-sizing: border-box;
}

.kalender ul{
    list-style-type: none;
}

.month {
    padding: 70px 25px;
    background: #1abc9c;
    text-align: center;
    margin: 40px;
    margin-bottom: 0px;
}
  
.month ul {
    margin: 0;
    padding: 0;
}
  
.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
  
.month .prev {
    float: left;
    padding-top: 10px;
}
  
.month .next {
    float: right;
    padding-top: 10px;
}
  
.weekdays {
    margin: 0px 40px 0px 40px;
    padding: 10px 0;
    background-color: #ddd;
}
  
.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}
  
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0px 40px 0px 40px;
}
  
.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 15px;
    font-size:12px;
    color: #777;
}
  
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}